#main { display: flex; width:100%; }
#left { width:50%; padding: 0 10px 0 10px; }
#right { width:50%; padding: 0 10px 0 10px; }
#input { width:96%; height: 60vh; border: 1px solid gray; border-radius: 5px; padding: 5px; }
#output { width:96%; height: 60vh; border: 1px solid gray; border-radius: 5px; padding: 5px; }
#log { width:96%; height: 25vh; border: 1px solid gray; border-radius: 5px; }
.label { margin: 5px 0 5px 0; font-size: 125%; }
// button { font-size: 14pt; }
// input { font-size: 14pt; }
#comments { margin-top: 0.5cm; }
#params { margin: 10px 0 10px 0; }
#control { margin: 10px 0 10px 0; }
.error_location { background: #ffaaaa; }
